@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Shadows+Into+Light&display=swap');


* {
    font-family: "Poppins";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #08161f;
}

nav {
    width: 100%;
    position: fixed;
    padding: 15px;
    background-color:transparent;
    border-bottom: 2px solid #3d3c38;
    box-shadow: 0 0 25px #ffffff;
    color: #ffffff;
    font-size: 20px;
    display: flex;
    backdrop-filter: blur(18px);
    z-index: 999;
}

nav p {
    margin-left: 20px;
    font-weight:600;
    font-family: "Poppins";
    cursor: default;
    text-transform: uppercase;
}

.navbar-menu ul {
    display: flex;
    position: absolute;
    right: 30px;
    gap: 2vh;
    list-style-type: none;
}

.navbar-menu ul li a {
    font-weight: 500;
    text-decoration: none;
    color: #ffffff;
    transition: 0.5s ease;
}

.navbar-menu ul li a:hover {
    color: #5bc7f5;
}

.navbar-menu ul li a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid#3e90b3;
    transform: scaleX(0);
    transition: 0.5s linear;
    transform-origin: left;
}

.navbar-menu ul li a:hover::after {
    transform: scaleX(1);
}

#menu-icon {
    display: none;
    text-decoration: none;
    color: #ffffff;
}



nav {
    top: 0;
    width: 100%;
    position: fixed;
    padding: 15px;
    background-color: transparent;
    border-bottom: 2px solid #3d3c38;
    box-shadow: 0 0 25px #ffffff;
    color: #ffffff;
    font-size: 20px;
    display: flex;
    backdrop-filter: blur(18px);
    z-index: 999;
    
}

nav p {
    margin-left: 20px;
    font-weight: 600;
    font-family: "Poppins";
    cursor: default;
    text-transform: uppercase;
}

.navbar-menu ul {
    display: flex;
    position: absolute;
    right: 30px;
    gap: 2vh;
    list-style-type: none;
}

.navbar-menu ul li a {
    font-weight: 500;
    text-decoration: none;
    color: #ffffff;
    transition: 0.5s ease;
}

.navbar-menu ul li a:hover {
    color: #5bc7f5;
}

.navbar-menu ul li a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid #3e90b3;
    transform: scaleX(0);
    transition: 0.5s linear;
    transform-origin: left;
}

.navbar-menu ul li a:hover::after {
    transform: scaleX(1);
}

#menu-icon {
    display: none;
    text-decoration: none;
    color: #ffffff;
}



.menu-sidebar {
    transition: transform 0.1s ease-in-out, opacity 0.1s ease-in-out;
    display: none;
    position: fixed;
    backdrop-filter: blur(18px);
    right: 0;
    opacity: 0;
    text-align: center;
    min-height: 120vh;
    width: 30%;
    border: 1px solid #fff;
    z-index: 999;
    transform: translateX(100%);
    border-top-left-radius: 10px;
}

.menu-sidebar ul li {
    list-style-type: none;
    padding-bottom: 10px;
}

.menu-sidebar ul li a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s ease;
}

.menu-sidebar ul {
    margin-top: 50px;
}

.menu-sidebar a:hover {
    border-bottom: 3px solid #3e90b3;
    color: #5bc7f5;
}



.home {
    min-height: 100vh;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding-left: 10%;
    gap: 2rem; 
}

.home-content {

    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
    margin-right: 4rem;
}

.home-content h3 {
    font-family: 'poppins', Times, serif;
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 2.5rem;
}

.home-content h1 {
    font-size: 4.5rem;
    margin-top: 1.5rem;
    font-weight: 700;
    line-height: 1;
}

.home-content p {
    font-weight: 500;
    line-height: 1.8;
    font-size: 20px;
    max-width: 600px;
}

.tombol  {
    font-family: "Roboto";
    border-radius: 10px;
    margin-top: 25px;
    position: relative;
    background: #ffffff;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5rem;
    box-shadow: 0 0 25px #ffffff;
    letter-spacing: 0.1rem;
    font-weight: 500;
    padding: 10px 45px;
    transition: 0.5s;
}

.tombol:hover {
    background-color: #5bc7f5;
    letter-spacing: 0.25rem;
    box-shadow: 0 0 25px #5bc7f5;
}

.tombol::before{
    content: '';
    position: absolute;
    inset: 2px;
    background: #08161f;
}

.tombol span{
    position: relative;
    z-index: 1;
}

.tombol i{
    position: absolute;
    inset: 0;
    display: block;
}

.tombol  i::before{
    content: '';
    position: absolute;
    top: -5px;
    left: 85%;
    height: 10px;
    border: 2px solid #ffffff;
    width: 20px;
    background: #08161f;
    transform: translateX(-50%) ;
    transition: 0.5s;
}

.tombol:hover i::before{
    border: 2px solid #5bc7f5;
    width: 30px;
    left: 20%;
}

.tombol  i::after{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 15%;
    border: 2px solid #ffffff;
    height: 10px;
    width: 20px;
    background: #08161f;
    transform: translateX(-50%);
    transition: 0.5s;
}

.tombol:hover i::after{
    border: 2px solid #5bc7f5;
    width: 30px;
    left: 80%;
}

.btn-grup {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.btn-grup a:nth-of-type(2) {
    background-color: #000000;
    box-shadow: 0 0 25px transparent;
    border: 3px solid #3e90b3;
}

.btn-grup a:nth-of-type(2):hover {
    box-shadow: 0 0 30px #5bc7f5;
    background: #5bc7f5;
}

.auto-text {
    text-shadow: 0 0 3px #ffffff;
    color: #1cb5c9;
    font-weight: 600;
    font-family: "Roboto";
    /* font-style: italic; */
}

.home-img {
    width: 450px;
    height: 450px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
    border-radius: 50%;
    margin-top: 5rem;
}

.home-img img {
    position: absolute;
    width: 440px;
    border-radius: 50%;
    cursor: pointer;
    
}

.home-img::before{
    content: '';
    position: absolute;
    inset: -10px 140px;
    background: linear-gradient(315deg,#5bc7f5,#d400d4);
    transition: 0.5s;
    animation: animasi 3s linear infinite;
}

.home-img:hover::before{
    inset: -20px 0;
}

.home-img::after{
    content: "";
    position: absolute;
    inset: 6px;
    /* background-color:  #08161f; */
    border-radius: 50%;
    z-index: 1;
}

@keyframes animasi{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.content-1{
    display: flex;
    min-height: 100vh;
    background: #08161f;
}

.content-1-wrapper{
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.bubbles{
    position: absolute;
    display: flex;
    z-index: 1;
}

.bubbles span{
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0 5px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
    animation: gelembung 15s linear infinite;
    animation-duration: calc(125s/var(--i));
}

.bubbles span:nth-child(even){
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544
    0 0 50px #ff2d75,
    0 0 100px #ff2d75;
}

.img-content-1{
    height: 400px;
    width: fit-content;
    box-shadow: 0 0 30px #5bc7f5;
    position: absolute;
    margin-top: 150px;
    margin-left: 50px;
    border-radius: 10px;
    z-index: 1;
    overflow: hidden;
}


.img-content-1 img{
    height: 400px;
    width: 400px;
    border-radius: 10px;
    transition: 0.5s;
}

.img-content-1 img:hover{
    box-shadow: 0 0 35px #5bc7f5,
    0 0 50px #5bc7f5,
    0 0 100px #5bc7f5;
    transform: scale(1.1);
}



@keyframes gelembung {
    0%{
        transform: translateY(100vh) scale(0);
    }

    100%{
        transform: translateY(-10vh) scale(1);
    }
}


.content-1-text{
    z-index: 1;
    box-shadow: 0 0px 25px #5bc7f5;
    border-radius: 10px;
    backdrop-filter: blur(18px);
    margin-top: 150px;
    text-align: center;
    height: fit-content;
    width: 100vh;
    right: 100px;
    color: #fff;
    position: absolute;

}

.content-1-text h1{
    /* padding-top: 100px; */
    font-size: 3rem;
    text-transform: uppercase;
    font-family: "Roboto";
    font-weight: 600;
}

.content-1-text p{
    padding-top: 20px;
    font-size: 1.1rem;
    font-weight: 400;
}

.sosial-media{
    padding-left: 150px;
    z-index: 1;
    border-radius: 10px;
    margin-top: 35%;
    right: 100px;
    position: absolute;
    width: 100vh;
    height: 100px;
}

.Bio{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.button{
    
    backdrop-filter: blur(18px);
    height: 60px;
    width: 60px;
    /* border: 1px solid #fff; */
    /* float: left; */
    margin: 0 5px;
    display: inline-block;
    background-color: transparent;
    color: white;
    overflow: hidden;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: all 0.5s ease-out;
}

.button:hover{
    box-shadow: 0 0 5px #5bc7f5;
    background: none;
    backdrop-filter: blur(18px);
    width: 200px;
}

.button:nth-child(1):hover .icons{
    background-color: #4267b2;
}
.button:nth-child(2):hover .icons{
    background-color: #e1306c;
}
.button:nth-child(3):hover .icons{
    background-color: #333;
}
.button:nth-child(4):hover .icons{
    background-color: #ff0000;
}

.icons{
    display: inline-block;
    height: 60px;
    text-align: center;
    width: 60px;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.5s ease-out;
}


.icons i{
    font-size: 25px;
    line-height: 60px;
    transition: all 0.5s ease-out;
}

.button span{
    font-size: 15px;
    line-height: 60px;
    font-weight: 500;
    margin-left: 20px;
    transition: all 0.5s ease-out;


}

.button span a{
    text-decoration: none;
}

.button:hover .icons i{
    color: #fff;
}

.button:nth-child(1):hover span a{
    color: #4267b2;
}
.button:nth-child(2):hover span a{
    color: #e1306c;
}
.button:nth-child(3):hover span a{
    color: #fff;
}
.button:nth-child(4):hover span a{
    color: #ff0000;
}

.button span a:hover{
    opacity: 50%;
    transition: 0.3s;
}

.content-2-wrapper{
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.box div{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 6px solid rgba(255,255,255,0.8);
}

.box div:nth-child(1) {
    top: 12%;
    left: 42%;
    animation: content2 7s linear infinite;
}
.box div:nth-child(2) {
    top: 70%;
    left: 50%;
    animation: content2 7s linear infinite;
}
.box div:nth-child(3) {
    top: 17%;
    left: 6%;
    animation: content2 9s linear infinite;
}
.box div:nth-child(4) {
    top: 26%;
    left: 60%;
    animation: content2 10s linear infinite;
}
.box div:nth-child(5) {
    top: 67%;
    left: 10%;
    animation: content2 6s linear infinite;
}
.box div:nth-child(6) {
    top: 80%;
    left: 70%;
    animation: content2 12s linear infinite;
}
.box div:nth-child(7) {
    top: 60%;
    left: 80%;
    animation: content2 15s linear infinite;
}
.box div:nth-child(8) {
    top: 32%;
    left: 25%;
    animation: content2 16s linear infinite;
}
.box div:nth-child(9) {
    top: 90%;
    left: 25%;
    animation: content2 9s linear infinite;
}
.box div:nth-child(10) {
    top: 20%;
    left: 80%;
    animation: content2 5s linear infinite;
}

.skill-wrapper{
    width: 40%;
    min-width: 500px;
    position: absolute;
    top: 0%;
    left: 5%;
}
.skill-wrapper-2{
    width: 40%;
    min-width: 500px;
    position: absolute;
    top: 0%;
    right: 5%;
}

.skill-wrapper-container{
    display: flex;
  
}

.skill-container{
    box-shadow: 0 25px 30px rgba(0,0,0,0.2);
    border-radius: 10px;
    backdrop-filter: blur(18px);
    width: 100%;
    padding: 60px 40px;
   
}
.skill-container *{
    color: #fff;
    font-weight: 500;
}

.skill-container h2{
    letter-spacing: 1px;
    margin-bottom: 50px;

}

.skills:not(:last-child){
    margin-bottom: 50px;
}

.skill-details{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
}

.bar{
    position: relative;
    border-radius: 10px;
    background: rgba(255,255,255,0.06);
    padding: 7px 10px;
    backdrop-filter: blur(18px);
}

.bar div{
    position: relative;
    width: 0;
    height: 5px;
    border-radius: 10px;
    background-color: #5bc7f5;
    box-shadow:0 0 5px rgba(28,151,252,0.06);
}

.bar-2{
    position: relative;
    border-radius: 10px;
    background: rgba(255,255,255,0.06);
    padding: 7px 10px;
    backdrop-filter: blur(18px);
}

.bar-2 div{
    position: relative;
    width: 0;
    height: 5px;
    border-radius: 10px;
    background-color: #5bc7f5;
    box-shadow:0 0 5px rgba(28,151,252,0.06);
}

#com-bar{
    animation: com 2s forwards;
}

#html-bar{
    animation: html 2s forwards;
}

#css-bar{
    animation: css 2s forwards;
}

#js-bar{
    animation: js 2s forwards;
}

#php-bar{
    animation: php 2s forwards;
}

#man-bar{
    animation: man 2s forwards;
}




@keyframes html {
    100%{
        width: 90%;
    }
}

@keyframes css {
    100%{
        width: 75%;
    }
}

@keyframes js{
    100%{
        width: 60%;
    }
}

@keyframes php {
    100%{
        width: 55%;
    }
}
@keyframes com {
    100%{
        width: 80%;
    }
}
@keyframes man {
    100%{
        width: 80%;
    }
}




@keyframes content2 {
    
    0%{
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }

    100%{
        transform: scale(1.3) translateY(-90px) rotate(360deg);
        opacity: 0;
    }
}


 .timeline-container{
        position: relative;
        color: #fff;
        padding: 2rem;
        padding-bottom: 200px;
        margin: 0 auto;
        max-width: 800px;
        margin-top: 100vh;
    }
    
    .timeline-atas{
        text-align: center;
        padding: 4rem 0;
        max-width: 600px;
        margin: 0 auto;
    }
    
    .timeline{
        position: relative;
        min-height: 150px;
    }
    
    .isi-timeline{
        position: absolute;
        z-index: 1;
        left: calc(50% - 1px);
        width: 2px;
        top: -50px;
        bottom: -50px;
        background-color: #fff;
    }
    
    .isi-timeline:before,.isi-timeline::after{
        position: absolute;
        display: block;
        content: '';
        height: 1rem;
        width: 1rem;
        border-radius: 50%;
        background-color: #fff;
        left: 50%;
        transform: translateX(-50%);
    
    }
    
    .isi-timeline::after{
        bottom: 0;
    }
    
    .section{
        display: flex;
        opacity: 0;
        transform: translateX(-100%);
        transition: 0.5s ease;
        position: relative;
        z-index: 1;
        margin: 50px 0;
        padding: 1rem;
        align-items: center;
        border-radius: 1rem;
        min-height: 300px;
    }
    
    .section:nth-child(odd){
        flex-direction: row-reverse;
        transform: translateX(100%);
    }
    
    .head{
        position: absolute;
        display: block;
        height: 1rem;
        width: 1rem;
        border-radius: 50%;
        background-color: #fff;
        left: 50%;
        top: 20%;
        transform: translateX(-50%);
    }
    
    .timeline-content{
        color: #5bc7f5;
        width: calc(50% - 2rem);
    
    }
    
    .timeline-content h2{
        color: #fff;
    }
    
    .show-me:nth-child(n){
        transform: none;
        opacity: 1;
    }
    
    .timeline-atas h1{
        font-weight: 500;
        font-size: 3rem;
        letter-spacing: 1px;
    }



    @media screen and (max-width: 1024px) {

        #menu-icon {
            display: grid;
            margin-top: 2.5px;
            position: absolute;
            right: 20px;
            font-size: 25px;
        }
    
        .menu-sidebar {
            transition: 1s ease-in;
            width: 30%;
        }
    
        .menu-sidebar ul li a {
            margin-left: 10px;
        }
    
        .home {
            flex-direction: column;
            gap: 1rem;
            padding: 0.5%;
        }
    
        .home-content {
            width: 100%;
            transform: translateX(-40px);
            left: 0;
            text-align: left;
            padding: 0;
            margin-top: 0;
            align-items: flex-start;
        }
    
        .home-content h3 {
            margin-left: 50px;
            font-size: 3rem;
        }
    
        .home-content h1 {
            margin-left: 50px;
            font-size: 5rem;
        }
    
        .home-content p {
            width: 99%;
            margin-left: 50px;
            font-size: 1rem;
        }
    
        .home-img img {
            position: absolute;
            width: 440px;
            border-radius: 50%;
            cursor: pointer;
        }
    
        .home-img {
            width: 450px;
            height: 450px;
            overflow: hidden;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            margin-top: 5rem;
        }
    
        .box-img {
            max-width: 50vw;
        }
    
        .btn-grup {
            padding-bottom: 100px;
        }
    
        .tombol {
            text-align: center;
            width: 30%;
            font-family: "Roboto";
            border-radius: 10px;
            margin-top: 25px;
            position: relative;
            background: #ffffff;
            color: #fff;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 1.5rem;
            box-shadow: 0 0 25px #ffffff;
            letter-spacing: 0.1rem;
            font-weight: 500;
            padding: 15px 55px;
            transition: 0.5s;
        }
    
        .content-1 {
            padding-bottom: 10px;
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    
        .content-1-wrapper {
            min-height: 145vh;
        }
    
        .img-content-1 {
            height: 400px;
            width: fit-content;
            box-shadow: 0 0 30px #5bc7f5;
            position: absolute;
            margin-top: 10%;
            margin-left: 50px;
            border-radius: 10px;
            z-index: 1;
            overflow: hidden;
        }
    
        .img-content-1 img {
            height: 400px;
            width: 400px;
            border-radius: 10px;
            transition: 0.5s;
        }
    
        .content-1-text {
            z-index: 1;
            box-shadow: 0 0 25px #5bc7f5;
            border-radius: 10px;
            backdrop-filter: blur(18px);
            margin-top: 10%;
            text-align: center;
            height: fit-content;
            width: 45%;
            right: 40px;
            color: #fff;
            position: absolute;
        }
    
        .content-1-text h1 {
            font-size: 3rem;
            text-transform: uppercase;
            font-family: "Roboto";
            font-weight: 600;
        }
    
        .content-1-text p {
            padding-top: 20px;
            font-size: 1.1rem;
            font-weight: 400;
        }
    
        .sosial-media {
            z-index: 1;
            border-radius: 10px;
            margin-top: 45%;
            position: absolute;
            width: 45%;
            right: 40px;
            height: 100px;
            padding-left: 0;
            margin-bottom: 0;
        }
    
        .button:hover {
            background: none;
            backdrop-filter: blur(18px);
        }
    
        .skill-wrapper {
            left: 2.5%;
            min-width: 450px;
        }
    
        .skill-wrapper-2 {
            min-width: 450px;
            right: 2.5%;
        }
    
        .timeline-container {
            margin-top: 120vh;
        }
    }

    
    
    

@media screen and (max-width: 900px) {
    .content-1-text{
        right: 25px;
        width: 40%;
    }

    .sosial-media{
        padding-left: 60px;
        margin-top: 52%;
    }

    .skill-wrapper-container{
        justify-content: space-between;
    }

    
}



@media screen and (max-width: 768px) {

    .navbar-menu {
        display: none;
    }

    #menu-icon {
        display: grid;
        margin-top: 2.5px;
        position: absolute;
        right: 20px;
        font-size: 25px;
    }

    .menu-sidebar {
        font-size: 25px;
        width: 30%;
    }

    .menu-sidebar ul  {
        margin-left: 50px;
    }

    .home{
        flex-direction: column;
        gap: 1rem;
        padding: 0.5%;
    }

    .home-content{
        left: 0;
        text-align: left;
        padding: 0;
        margin-top: 0rem;
        align-items: left;
    }

    .home-content h3{
        margin-left: 50px;
        font-size: 3rem;
    }

    .home-content h1{
        margin-left: 50px;
        font-size: 4rem;
    }

    .home-content p{
        max-width: 100%;
        margin-left: 50px;
        font-size: 1rem;
    }

    .home-img img{
        box-shadow:0 0 25px #3e90b3;
        max-width: 50vw;
    }

    .home-img{
        max-width: 52vw;
        max-height: 52vw;
    }


    .home-img:before{
        display: none;
    }
    
    .box-img{
        max-width: 50vw;
    }
    
    .btn-grup{
        padding-bottom: 100px;
    }
    
    .tombol{

        position: absolute;
        left: 50px;
        border: 1px solid;
        width: fit-content;
        margin-top: 75px;
        padding: 5px 30px;
    }

    .content-1{
        min-height: 115vh;
        padding-bottom: 10px;
        display: flex;
    }

    .img-content-1{
        margin-top: 10%;
        margin-left: 25%;
        border-radius: 50%;
        max-width: 50vw;
        max-height: 50vw;
        order: 1;
    }

    .img-content-1 img{
        border-radius: 50%;
        max-width: 50vw;
        max-height: 50vw;
    }

    .content-1-text{
        left: 5%;
        width: 90%;
        order: 2;
        justify-content: center;
        margin-top: 70%;
    }

    .content-1-text h1{
        font-size: 2rem ;
}

    .content-1-text p{
        font-size: 0.9rem;
    }

    .sosial-media{

        max-height: 50px;
        margin-top: 100%;
        max-width: 90%;
        left: 5%;
        border: NONE;
        padding-left: 25%;
        width: 100%;
    }
    

    .button:hover{
        background: none;
        backdrop-filter: blur(18px);
    }


    .skill-wrapper,
    .skill-wrapper-2{
        top: 100px;
        width: 40%;
        min-width: 0;
        
    }

    .timeline-container{
        margin-top: 100vh;
    }

  

}


@media screen and (max-width: 600px)  {
    
    
    .sosial-media{
        border: NONE;
        padding-left: 0;
        width: 100%;
        padding-top: 0;
        margin-top: 145%;
    }
    
    .home-content{
        padding: 0;
        margin: 0;
    }

  
    .menu-sidebar {
        font-size: 15px;
        width: 30%;
    }

    .menu-sidebar ul  {
        margin-left: 20px;
    }


    .button{
        width: 40px;
    height: 40px;
    }

    .icons{
        text-align: center;
        width: 40px;
        height: 40px;
    }

    .icons i{
        font-size: 25px;
        line-height: 40px;
}



.home-content h1{
    font-size: 2rem;
}

.home-content h3{
    font-size: 1.5rem;
}

.home-content p{
    font-size: 1rem;
}

.icons span{
    padding-bottom: 5PX;
    font-size: 15px;
    line-height: 80px;
    font-weight: 500;
    /* margin-left: 10px; */
}

.button:hover{
    background: none;
    backdrop-filter: blur(18px);
    width: 140px;
}

.timeline-content p{
    font-size: 0.9rem;
}

.skill-wrapper{
    width: 90%;
}

.skill-wrapper-2{
    width: 90%;
    left: 5%;
    margin-top: 120vh;
}

.timeline-container{
    margin-top: 235vh;
}

.Bio p{
    font-size: 10px;
}

}

@media screen and (max-width: 375px){
    .sosial-media{
        margin-top: 160%;
        border: NONE;
        padding-left: 0;
        width: 100%;
    }

 

    .menu-sidebar ul  {
        margin-left: 10px;
    }

    .button{
        width: 40px;
    height: 40px;
    }

    .icons{
        text-align: center;
        width: 40px;
        height: 40px;
    }

    .icons i{
        font-size: 25px;
        line-height: 40px;
}

.icons span{
    padding-bottom: 5PX;
    font-size: 15px;
    line-height: 80px;
    font-weight: 500;
    /* margin-left: 10px; */
}

.button:hover{
    background: none;
    backdrop-filter: blur(18px);
    width: 140px;
}

}

.timeline-content h2{
    font-size: 1.3rem;
}

@media screen and (max-width: 320px) {
    .sosial-media{
        padding-top: 0;
        margin-top: 170%;
        border: NONE;
        padding-left: 0;
        width: 100%;
    }

  

    .menu-sidebar ul  {
        margin-left: 5px;
    }

    .button{
        width: 40px;
    height: 40px;
    }

    .icons{
        text-align: center;
        width: 40px;
        height: 40px;
    }

    .icons i{
        font-size: 25px;
        line-height: 40px;
}

.home-content h3{
    font-size: 1.3rem;
}

.home-content p{
    font-size: 0.9rem;
}

.icons span{
    padding-bottom: 5PX;
    font-size: 15px;
    line-height: 80px;
    font-weight: 500;
    margin-left: 0px;
}

.button:hover{
    background: none;
    backdrop-filter: blur(18px);
    width: 40px;
}

.timeline-container{
    margin-top: 225vh;
}
}

